* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.grid {
    max-width: 1300px;
    height: 100%;
    margin: auto;
    padding: 10px 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    iframe {
        width: 100%;
        height: 300px;
    }
}